@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import 'variables';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
}

body {
    background: $mainBgColor url(../img/home-bg.svg);
    background-size: cover;
    background-position: center top;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    transition: all .5s ease-in;
}

button,
input[type='submit'],
li {
    cursor: pointer;
}

p {
    line-height: 28px;
}

.wrapper {
    max-width: 1275px;
    margin: 0 auto;
}

.button-purple {
    background: $btnBgColor;
    color: $btnTextColor;
    font-weight: 700;
    border-radius: 40px;
    transition: .3s;
    height: 47px;
    border: none;
    overflow: hidden;
    position: relative;
    @include flex(center, center, row);

    &:before {
        content: '';
        box-shadow: 0 0 20px white;
        position: absolute;
        left: -20%;
        top: 0;
        width: 20%;
        height: 100%;
        background: rgba(255, 255, 255, 0.219);
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        animation: btnShadow 5s linear infinite;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 0px rgba(25, 9, 46, 0.512);
    }

    &:active {
        transition: .05s;
        transform: translateY(0);
        box-shadow: 0 0px 15px rgba(20, 0, 46, 0.686);

    }
}

@keyframes btnShadow {
    0% {
        left: -20%;
    }

    100% {
        left: 110%;
    }
}

.header {
    width: 100%;
    @include flex(space-between, center, row);
    padding: 25px 8%;
    background: transparent;
}

.section {
    width: 100%;
    height: 100vh;
}

.header_logo {
    @include flex(center, center, row);
    cursor: pointer;

    &:hover {
        .header__img {
            transform: rotate(360deg) scale(1.2);
            filter: drop-shadow(0 0 20px rgba(16, 16, 16, 0.526))
        }

        .header__text {
            transform: translateX(20px) scale(1.2);
        }

    }
}

.header__img {
    margin-right: 15px;
    filter: drop-shadow(0 10px 6px #0000003b);
    object-fit: cover;
    transition: 1s;
}

.header__text {
    transition: .5s;

}

.header_navbar {
    @include flex(center, center, row);
    font-size: 12px;
    font-weight: 800;
}

.header__item+.header__item {
    margin-left: 40px;
}

.header__item {
    @include flex(center, center, row);
    transition: .5s;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: -5px;
        width: 0%;
        height: 1px;
        border-radius: 10px;
        background-color: $iconsColor;
        transition: .5s;
    }

    &:hover {
        color: $iconsColor;

        &:before {
            width: 100%;
        }
    }
}

.header_buttons {
    @include flex(center, center, row);

    button {
        width: 147px;
        font-weight: 700;
        font-size: 12px;
        border-radius: 40px;
    }
}

.header__contact {
    @include flex(center, center, row);
    transition: .3s ease-out;
    background: transparent;
    border: 2px solid white;
    color: white;
    height: 47px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.221));

    &:hover {
        background: white;
        color: $mainBgColor;
    }

    &:active {
        transition: .05s;
        box-shadow: 0 0px 15px rgba(20, 0, 46, 0.686);
        background: $iconsColor;
        border: none;

    }
}

.header__join {
    border: none;
    margin-left: 35px;
}



.active_burger {
    width: 34px;
    height: 28px;
    position: relative;
    cursor: pointer;
    display: none;
    div {
        @include activeBurgerConstructor(50%);
    }

    &::before {
        @include activeBurgerConstructor(0%);
    }

    &::after {
        @include activeBurgerConstructor(100%);
    }

    &:hover {
        div {
            width: 50%;
        }
    }
}

.inactive_burger {
    div {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50%) rotate(360deg);
    }

    &::before {
        @include inactiveBurgerConstructor(50%, 140deg);
    }

    &::after {
        @include inactiveBurgerConstructor(50%, 40deg);
    }

}


.home {
    @include flex(space-between, center, column);
    height: 120vh;
    padding: 60px 0;

}

.home_content {
    width: 100%;
    @include flex(space-between, center, row);
}

.home__text-content h1 {
    font-size: 43px;
    color: white;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 30px;

    span:nth-of-type(2) {
        font-size: 49px;
    }

    span:not(span:nth-of-type(2)) {
        background: $btnBgColor;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.home__text-content p {
    width: 450px;
    line-height: 27px;
    font-size: 16px;
    margin-bottom: 40px;
}

.home__button {
    width: 214px;

    &::after {
        content: '🡢';
        color: $iconsColor;
        font-size: 40px;
        position: absolute;
        right: -60px;
    }
}

.home_arrows {
    display: none;
}

.home__img {
    width: 460px;
    height: 406px;
    box-shadow: 0 0 1px 20px rgba(0, 0, 0, 0.267);
    background: url(../img/home-img.png) no-repeat;
    background-size: cover;
    border-radius: 100px 100px 100px 240px;
}

.home_info {
    width: 100%;
    height: 167px;
    background: $formsBgColor;
    border-radius: 90px;
    position: relative;
}

.info_content {
    position: absolute;
    left: 0;
    @include flex(space-around, center, row);
    height: 100%;
    width: 100%;
}

.info__item {
    @include flex(center, center, row);
    height: 70%;
    width: 100%;

    &:nth-of-type(2) {
        border-right: 1px solid $iconsColor;
        border-left: 1px solid $iconsColor;
    }

    i {
        font-size: 40px;
        color: $iconsColor;
        margin-right: 10px;
    }

    div {
        @include flex(center, flex-start, column);

        h2 {
            font-size: 24px;
            font-weight: 700;
        }

        p {
            font-size: 14px;
        }
    }
}

.about {
    height: 130vh;
    @include flex(space-around, center, column);
}

.introduction {
    @include flex(space-between, flex-start, row);

    p {
        width: 50%;
    }

    .sections-title {
        span {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 120px;
                height: 2px;
                background-color: $iconsColor;
                bottom: 50%;
                transform: translateY(-50%);
                left: calc(100% + 30px);
            }

            &::before {
                content: 'ᐳ';
                position: absolute;
                font-size: 30px;
                color: $iconsColor;
                left: calc(100% + 130px);
                margin-top: -1.2px;
            }
        }
    }
}

.sections-title {
    font-size: 36px;

    span {
        font-weight: 100;
        opacity: 0.95;
    }

    @include flex(center, flex-start, column)
}

.about_content {
    @include flex(space-between, center, row);
}

.about__img {
    background: url(../img/about-img.png);
    background-size: cover;
    width: 480px;
    height: 510px;
    border-radius: 240px 100px 240px 100px;
    box-shadow: 0 0 1px 20px rgba(0, 0, 0, 0.267);
}

.about__text-content {
    @include flex(space-between, flex-start, column);
    width: 50%;
    gap: 20px;
}

.about__button {
    margin-top: 30px;
    width: 214px;
}

.services {
    height: 130vh;
    @include flex(space-around, center, column);
}

.services_content {
    width: 100%;
    margin-top: -20px;
}

.services_arrows,
.process_arrows,
.tech_arrows {
    display: none
}

.services_overflow {
    @include flex(space-between, center, row);
    transition: 1s;
}

.services__items {
    @include flex(flex-start, center, column);
    gap: 10px;
    background: $formsBgColor;
    padding: 50px 20px;
    border-radius: 40px;
    width: 24%;
}

.items__img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-size: cover !important;
    @include flex(space-between, center, column);
    margin-bottom: 45px;
    box-shadow: 0 0 1px 20px rgba(0, 0, 0, 0.267);
}

.items__title {
    font-size: 24px;
    padding-bottom: 13px;
    margin-bottom: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.items__text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
}

.items__button {
    width: 148px;
}

.tech {
    height: 60vh;
    @include flex(flex-start, center, column);
    padding: 60px 0;
    position: relative;
    transition: .5s;
}

.tech_title {
    position: relative;
    background: url(../img/tech-bg.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 305px;
    z-index: 1000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 240px;
    @include flex(center, center, column);

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -3%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #0e0e0e52;
        z-index: 10001;
    }

    .sections-title {
        @include flex(center, center, column)
    }

    .button-purple {
        position: absolute;
        bottom: calc(0px - 30px);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        font-size: 60px;
        font-weight: 100;
        padding-bottom: 3%;
        transition: .5s;

        &:before {
            animation: none;
        }
    }
}

.tech_content {
    width: 100%;
}

.tech_overflow {
    transition: 1s;
    @include flex(space-between, center, row);
}

.tech__items {
    position: absolute;
    left: calc(var(--i) * 25%);
    bottom: 50%;
    transition: .5s;

    &:hover {
        filter: drop-shadow(0 0 10px white);
    }

    opacity: 0;
    visibility: hidden;
    object-fit: cover;
}

.techItemsAnimationDown {
    @include techAnimation(techItemAnimDown);
    opacity: 0;
    visibility: hidden;
    bottom: 50%;
}

.techItemsAnimationUp {
    @include techAnimation(techItemAnimUp);
    opacity: 1;
    visibility: visible;
    bottom: 0%;
}

@keyframes techItemAnimDown {
    0% {
        opacity: 0;
        visibility: hidden;
        bottom: 50%;
    }

    100% {
        opacity: 1;
        visibility: visible;
        bottom: 0%;
    }
}

@keyframes techItemAnimUp {
    0% {
        opacity: 1;
        visibility: visible;
        bottom: 0%;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        bottom: 50%;
    }
}


.process {
    height: 100vh;
    @include flex(space-around, center, column)
}

.process_content {
    width: 100%;
}

.process_overflow{
    transition: 1s;
    @include flex(space-between, center, row);
}

.process__items {
    @include flex(flex-start, center, column);

    h3 {
        font-size: 24px;
        line-height: 32px;
        position: relative;

        &:before {
            content: '➔';
            font-size: 30px;
            font-weight: 100;
            position: absolute;
            left: -40px;
            color: rgba(255, 255, 255, 0.495);

        }
    }
}

.process__num {
    margin-bottom: 40px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: $btnBgColor;
    @include flex(center, center, row);
    color: $btnTextColor;
    font-weight: 700;
    font-size: 50px;
    box-shadow: 0 0 1px 20px rgba(0, 0, 0, 0.267);
}

.join {
    @include flex(center, center, row);
}

.join_content {
    width: 100%;
    height: 95%;
    background: $formsBgColor;
    border-radius: 100px;
    @include flex(space-around, center, column);
    padding: 50px 90px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.441)
}

.join__title {
    @include flex(center, center, column);

    h2 {
        font-size: 36px;
        margin-bottom: 25px;
    }

    p {
        position: relative;
        font-size: 36px;
        font-weight: 100;
        padding: 20px 0 0 0;
        margin-bottom: 50px;
        @include flex(center, center, row);

        &::before {
            content: '';
            position: absolute;
            width: 70%;
            top: 0;
            height: 1px;
            background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(128, 128, 128, 0.2));
        }
    }
}

.join__form {
    width: 100%;

    input:not(.button-purple),
    .form__textarea {
        border: 2px solid white;
        background: transparent;
        border-radius: 30px;
        color: white;
        font-size: 12px;
        padding: 10px 25px;
    }

    input:not(.button-purple) {
        height: 50px;
    }

    input,
    textarea {
        &::placeholder {
            color: rgba(255, 255, 255, 0.7);
            font-family: Montserrat;
        }
    }
}

.form__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.form__name {
    grid-area: 1 / 1 / 2 / 3;
}

.form__surname {
    grid-area: 1 / 3 / 2 / 5;
}

.form__email {
    grid-area: 2 / 1 / 3 / 3;
}

.form__number {
    grid-area: 2 / 3 / 3 / 5;
}

.form__subject {
    grid-area: 3 / 1 / 4 / 5;
}

.form__textarea {
    grid-area: 4 / 1 / 8 / 5;
    background: transparent;
    border: white 2px solid;
    border-radius: 30px;
    resize: none;
    padding: 20px 25px;
}

.form__submit {
    margin: 0 auto;
    margin-top: 30px;
    width: 215px;
}

.footer {
    height: 55vh;
    @include flex(space-between, center, column);

    hr {
        width: 100%;
        height: 1px;
        border: none;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
    }
}

.footer_content {
    @include flex(space-between, center, row);
    padding: 60px 0;
    width: 100%;
    font-size: 14px;
    font-weight: 700;

    ul {
        height: 100%;
        @include flex(space-between, flex-start, column);
        padding-left: 3%;

        li {
            transition: .5s;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                bottom: -5px;
                width: 0%;
                height: 1px;
                border-radius: 10px;
                background-color: $iconsColor;
                transition: .5s;
            }

            &:hover {
                color: $iconsColor;

                &:before {
                    width: 100%;
                }
            }
        }
    }

    hr {
        height: 100%;
        width: 3px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
        border: none;
    }
}

.footer__items {
    width: 17% !important;
}


.footer__img {
    height: 185px;
    object-fit: contain;
}

.footer__conditem:last-child {
    visibility: hidden;
    opacity: 0;
}

.footer__social {
    height: 100%;
    @include flex(space-between, flex-start, column);
}

.social__items {
    font-size: 15px;
    @include flex(space-between, center, row);
    color: $btnTextColor;
    width: 100%;

    i {
        transition: .5s;
        position: relative;
        cursor: pointer;
        width: 32px;
        height: 32px;
        background: $btnBgColor;
        border-radius: 50%;
        @include flex(center, center, row);
        &:hover{
            transform: rotate(360deg);
            filter: brightness(150%) grayscale(100%);
            color: black;
        }
        a{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 50%;
        }
    }
   
}

.footer__button {
    width: 180px;
}

.footer_copyright {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
}


@media (min-width: 350px) and (max-width: 400px) {
    body {
        background-size: cover;
        background-position: 89% 0;
      
    }
    .wrapper {
        max-width: 80%;
        margin: 0 auto;
    }
    .header {
        position: sticky;
        top: 0;
        height: 20vh;
        z-index: 1000000;
        background: $mainBgColor;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.049);
    }

    .active_burger {
        display: block;
    }

    .header__img {
        width: 70px;
    }

    .header__text {
        width: 46px;
    }

    .header_navbar {
        display: none;
    }

    .navbar_burger{
        transition: 1s;
        display: block;
        position: absolute;
        top:20vh;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: $btnBgColor;
        color: $btnTextColor;
        text-align: left;
        @include flex(flex-start, center, column);

        .header__item{
            margin-left: 0;
            font-size: 20px;
            padding: 10px 30px;
            width: 80%;
            border-bottom: 1px solid $btnTextColor;

            &:hover{
              color: white;
              border-bottom: 1px solid white;

            }
            &:before{
                display: none;

            }
        }
    }

    .header_buttons {
        display: none;
    }

    // .header__contact {
    // }
    // .header__join {
    // }
    // .button-purple {
    // }
    // .header_burger {
    // }
    .home {
        padding: 20px 0;
        height: 105vh;
    }

    .home_content {
        @include flex(space-between, center, column);
        flex-direction: column-reverse;
    }

    .home__text-content {
        @include flex(center, center, column);

        p {
            display: none;
        }

        h1 {
            line-height: 35px;
            font-size: 22px;
            margin-bottom: 20px;
            text-align: center;

            span:first-child {
                font-size: 30px;
            }

            span:last-child {
                font-size: 26px;
            }
        }
    }

    .home__img {
        width: 100%;
        height: 280px;
        box-shadow: 0 0 1px 10px rgba(0, 0, 0, 0.267);
        margin-bottom: 20px;
    }

    .home__button {
        width: 90%;
    }

    .home_info {
        position: relative;
        width: 110%;
        height: 110px;
        background: $formsBgColor;
        @include flex(space-around, center, row);
        border-radius: 50px;
        overflow: hidden;

        .home_arrows {
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            border: 1px solid white;
            border-radius: 50%;
            background: none;
            color: white;
            z-index: 10000;

            &:first-child {
                left: 5%;
            }

            &:last-child {
                right: 5%;
            }
        }
    }

    .info_content {
        position: absolute;
        left: 0;
        @include flex(space-between, center, row);
        height: 100%;
        width: 305%;
        transition: 1s;
    }

    .info__item {
        @include flex(center, center, row);
        height: 70%;
        position: relative;
        padding: 0 60px;
        text-align: center;

        i {
            margin-right: 0;
        }

        &:nth-of-type(2) {
            border: none;
        }

        div {
            @include flex(center, center, column);

            h2 {
                display: none;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .about {
        padding: 50px 0;
        height: 160vh;
        @include flex(flex-start, center, column);

        .sections-title {
            display: flex;
            font-size: 26px;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    .sections-title {
        align-items: center;

        span {

            &::before,
            &::after {
                display: none;
            }
        }
    }

    .introduction {
        p {
            display: none;
        }
    }

    .sections-title {
        display: flex;
        font-size: 26px;
        text-align: center;
        margin-bottom: 40px;
    }

    .about_content {
        @include flex(space-between, center, column)
    }

    .about__img {
        width: 100%;
        height: 320px;
        border-radius: 120px 50px 120px 50px;
        box-shadow: 0 0 1px 10px rgba(0, 0, 0, 0.267);
        margin-bottom: 50px;
    }

    .about__text-content {
        @include flex(center, center, column);
        width: 100%;
        font-size: 12px;
        margin-bottom: 30px;
        text-align: justify;

        .sections-title {
            display: none;
        }

        p {
            line-height: 22px;
        }
    }

    .about__button {
        margin-top: 20px;
        width: 80%;
    }

    .services {
        height: 105vh;
        justify-content: flex-start;
        position: relative;
    }

    .services_arrows,
    .tech_arrows,
    .process_arrows {
        display: block;
        width: 38px;
        height: 38px;
        color: $btnTextColor;
        border-radius: 50%;
        background: $btnBgColor;
        border: none;
        box-shadow: 0 0 0 6px #0000003b;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        font-weight: 900;
        font-size: 20px;
        z-index: 10000;

        &:nth-of-type(1) {
            left: -5%;
        }

        &:nth-of-type(2) {
            right: -5%;
        }
    }

    .services_content {
        position: relative;
        background: $formsBgColor;
        border-radius: 40px;
        height: 76%;
        overflow: hidden;
    }

    .services_overflow {
        position: absolute;
        left: 0%;
        z-index: 10000;
        width: 400%;
        height: 100%;
    }

    .services__items {
        background: none;
        width: 100%;
        padding: 50px 40px;
        text-align: center;
    }

    .tech {
        padding: 0;
        height: 70vh;
        justify-content: space-between;
    }

    .tech_title {
        width: 110%;
        border-radius: 50px;
        height: 200px;

        h2 {
            font-size: 16px;
            line-height: 40px;

            span {
                font-size: 24px;
            }

            margin: 0;
        }

        &::after {
            display: none;
        }

        .button-purple {
            display: none;
        }

    }

    .tech_content {
        position: relative;
        height: 100%;
        width: 110%;
        @include flex(space-between, center, row);
        overflow: hidden;
    }

    .tech_overflow {
        position: absolute;
        left: 0;
        width: 400%;
    }

    .tech__items {
        position: static;
        width: 100%;
        opacity: 1;
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 65%;
            object-fit: cover;
        }
    }

    .tech_arrows,
    .process_arrows{
        &:nth-of-type(1) {
            left: 2%;
        }

        &:nth-of-type(2) {
            right: 2%;
        }
    }

    .process {
        height: 70vh;
        @include flex(space-around, center, column)
    }
    
    .process_content {
        width: 110%;
        height: 100%;
        position: relative;
        overflow-x: hidden;
    }
    
    .process_overflow{
        @include flex(space-between, center, row);
        position: absolute;
        height: 100%;
        left: 0;
        width: 400%;
    }
    
    .process__items {
        @include flex(center, center, column);
        width: 100%;
    
        h3 {
            text-align: center;
            font-size: 20px;
            line-height: 28px;
    
            &:before {
                display: none;
            }
        }
    }
    
    .process__num {
        margin-bottom: 30px;
        width: 120px;
        height: 120px;
    }

    .join {
        height: 140vh;
    }
    
    .join_content {
        width: 110%;
    border-radius: 30px;
    @include flex(flex-start, center,column);
    padding: 50px 30px;

    }
    .join__title {
        text-align: center;
        h2,p{
            font-size: 24px;
        }
    }
    .join__form {
    }
    .form__grid {
        width: 100%;
        @include flex(space-between,center,column);
        input{
            width: 110%;
        }
    }
    .form__textarea {
        width: 110%;
        height: 150px;
    }

    .footer {
        height: auto;
    }
    .footer_content {
        @include flex(center, center, column);
        hr{
            display: none !important;
            margin-bottom: 50px;
        }
    }
    
    .footer__img {
        margin-bottom: 30px;
    }
    .footer__items {
        width: 100% !important;
        @include flex(center, center, column);
        gap: 20px;

    }
    .footer__nav {
        display: none !important;

    }
    .footer__navitem {
    }
    .footer__conditions {
        display: none !important;
    }
    .footer__conditem {
    }
    .footer__social {
    }
    .social__items {
    }
    .footer__button {
        margin-top: 20px;
    }
    .footer_copyright {
       text-align: center;
       margin-top: 20px
    }
    

}